* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16px;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.gallery {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: (350px)[3];
      grid-template-rows: repeat(3, 350px);
  margin-bottom: 50px;
}

.gallery-image-box {
  position: relative;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.gallery-image-box-img {
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
}

.gallery-image-box-title {
  position: absolute;
  bottom: 0;
  padding: 2rem;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: #fff;
  text-transform: uppercase;
}

.info-bar {
  position: fixed;
  bottom: 0;
  background-color: #1f2224;
  width: 100%;
  height: 50px;
  -webkit-transition: 1s;
  transition: 1s;
}

.info-bar-content {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 1rem auto 0 auto;
  height: 52vh;
  -webkit-transition: 1s;
  transition: 1s;
}

.active-bar {
  height: 60vh;
}

.active-bar > .info-bar-exit {
  display: inherit;
}

.active-bar > .info-bar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-bar-exit {
  display: none;
  text-decoration: none;
  right: 0px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  margin: 1rem 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.info-bar-exit:before, .info-bar-exit:after {
  position: absolute;
  right: 32px;
  top: 16px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #a0a0a1;
}

.info-bar-exit:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.info-bar-exit:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.info-bar-exit:hover {
  opacity: 1;
}

.info-bar-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.info-bar-button-name {
  line-height: 50px;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a0a0a1;
}

.info-bar-button-activate {
  background-color: rgba(0, 0, 0, 0);
  padding: 0 1rem;
  line-height: 50px;
  border: none;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: #a0a0a1;
  font-weight: 400;
}

.info-bar-button-activate:hover {
  color: #fff;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.info-bar-button-span {
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.2rem;
  font-size: 1.3rem;
}

.info-bar-content-text {
  width: 50%;
  margin: 1rem;
}

.info-bar-content-text-title, .info-bar-content-form-label {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  color: #fff;
  text-transform: uppercase;
}

.info-bar-content-text-paragraph {
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  color: #a0a0a1;
  margin: 1rem 0;
}

.info-bar-content-form {
  width: 50%;
  margin: 1rem;
  height: 54vh;
}

.info-bar-content-form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 1rem 0;
}

.info-bar-content-form-input {
  background-color: #34363b;
  border: none;
  padding: 1rem;
  width: 47%;
}

.info-bar-content-form-textarea {
  width: 100%;
  padding: 1rem;
  background-color: #34363b;
  border: none;
  margin-top: 1rem;
}

.info-bar-content-form-button {
  padding: 0.8rem 2.5rem;
  margin: 0 2rem 0 0;
  font-size: 1.2rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.info-bar-content-form-button-style1 {
  background-color: #34a58e;
  color: #fff;
  border: 2px solid #34a58e;
}

.info-bar-content-form-button-style1:hover {
  cursor: pointer;
  background-color: #47c5ab;
}

.info-bar-content-form-button-style2 {
  background-color: #1f2224;
  color: #fff;
  border: 2px solid #34363b;
}

.info-bar-content-form-button-style2:hover {
  cursor: pointer;
  color: #34a58e;
  border: 2px solid #34a58e;
}

.fullscreen {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 9000;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.disabled-fullscreen {
  display: none;
}

.fullscreen-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: black;
  background-repeat: no-repeat;
  max-width: 1280px;
  max-height: 900px;
  width: 1200px;
  height: 600px;
  opacity: 1;
  -webkit-box-shadow: 0px 0px 30px 6px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 30px 6px rgba(0, 0, 0, 0.75);
  -webkit-transition: 1s;
  transition: 1s;
}

.fullscreen-container-btn {
  position: absolute;
  -webkit-filter: invert(1);
          filter: invert(1);
  opacity: 0.1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.fullscreen-container-btn-left {
  top: 50%;
  left: 6%;
  width: 200px;
}

.fullscreen-container-btn-right {
  top: 50%;
  right: -10%;
  width: 200px;
}

.fullscreen-container-btn-cross {
  top: 8%;
  right: 0%;
  width: 50px;
}

.fullscreen-container-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.fullscreen-container-title {
  position: absolute;
  bottom: 10%;
  padding: 4rem;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: #fff;
  text-transform: uppercase;
}

.fullscreen-container-paragraph {
  position: absolute;
  bottom: 5%;
  padding: 4rem;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: #fff;
  text-transform: uppercase;
}

@media only screen and (max-width: 1700px) {
  .gallery {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: (350px)[4];
        grid-template-rows: repeat(4, 350px);
  }
}

@media only screen and (max-width: 1300px) {
  * {
    font-size: 12px;
  }
  .gallery {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (350px)[6];
        grid-template-rows: repeat(6, 350px);
  }
}

@media only screen and (max-width: 750px) {
  .gallery {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (350px)[12];
        grid-template-rows: repeat(12, 350px);
  }
  .active-bar {
    height: 100vh;
  }
  .active-bar > .info-bar-exit {
    display: none;
  }
  .active-bar > .info-bar-content {
    display: block;
    height: 100vh;
  }
  .info-bar-content {
    display: none;
    width: 100%;
    margin: 1rem auto 0 auto;
  }
  .info-bar-content-text {
    width: 95%;
    margin: 7rem auto;
  }
  .info-bar-content-form {
    width: 95%;
    margin: 7rem auto;
  }
  .info-bar-content-form-flex {
    display: inline;
  }
  .info-bar-content-form-input {
    width: 100%;
    margin: 1rem 0;
  }
  .info-bar-content-form-button {
    margin-top: 1rem;
  }
  .info-bar-button {
    bottom: 0;
  }
  .info-bar-exit {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */